/*
 5) Launch page header Styles
 ----------------------------------------*/

#wrapper.launch {
	background: url(../img/launch-bg.jpg) no-repeat top center !important;
}

.launch #header {
	background: none;
	padding-top: 56px;
}

/*
 5) Launch page footer Styles
 ----------------------------------------*/
.launch #footer span {

	font-size: 15px;
	font-family: "Lato";
	color: rgba( 32, 35, 35, 0.502 );
	line-height: 1.6;
}
.launch #footer {
	background: none;
	padding: 0px;
	padding-bottom: 27px;
}

/*launch content area*/
.launch .content {
	margin-top: 111px;
	min-height: 664px;
}
.launch .content h1 {
	font-size: 56px;
	font-family: 'latoblack';
	color: rgb( 255, 255, 255 );
	text-align: left;
	text-shadow: 0.5px 0.866px 1px rgba( 40, 40, 40,1 );
	line-height: 1.18;
}

.launch .content .stay {
	font-size: 21px;
	font-family: "Lato";
	color: rgb( 255, 255, 255 );
	line-height: 1.714;
	display: block;
	margin-bottom: 52px;
	padding-right: 50px;
}
.countdown-row .countdown-section {
	background-color: rgb( 236, 199, 49 );
	box-shadow: 0.5px 0.866px 1px 0px rgba( 40, 40, 40,0.4 );
	height: 141px;
	float: left;
}
.countdown-row .countdown-section + .countdown-section {
	background-color: rgb( 221, 187, 46 );
	box-shadow: 0.5px 0.866px 1px 0px rgba( 40, 40, 40,0.4 );
	height: 141px;
	float: left;
}

.countdown-row .countdown-section + .countdown-section + .countdown-section {
	background-color: rgb( 202, 178, 48 );
	box-shadow: 0.5px 0.866px 1px 0px rgba( 40, 40, 40,0.4 );
	float: left;
	height: 141px;
}
.countdown-row .countdown-section + .countdown-section + .countdown-section + .countdown-section {
	background-color: rgb( 178, 170, 57 );
	box-shadow: 0.5px 0.866px 1px 0px rgba( 40, 40, 40,0.4 );
	float: left;
	height: 141px;
	z-index: 8;
}
.countdown-section {
	text-align: center;
	font-size: 14px;
	font-family: 'latoblack';
	color: rgb( 255, 255, 255 );
	text-transform: uppercase;
	line-height: 1.857;
	text-shadow: 0.5px 0.5px 1px rgba( 40, 40, 40,0.4 );
	padding-top: 16px;
	padding-bottom: 16px;
	width: 21.3%;
}
.countdown-section span {
	display: block;
}

.countdown-amount {

	font-size: 36px;
	font-family: 'latoblack';
	color: rgb( 255, 255, 255 );
	display: block;
	text-shadow: 0.5px 0.134px 1px rgba( 40, 40, 40,1 );
}

.launch .counter {
	margin-bottom: 57px;
}
.launch input[type="email"] {

	background-color: rgb( 243, 241, 215 );
	box-shadow: 0.5px 0.4px 1.1px 0 rgba(40, 40, 40,0.5);
	border: none;
	width: 100%;
	height: 45px;
	padding: 5px 21px;
	font-size: 14px;
	font-family: "Lato";
	color: #202323;
	line-height: 1.857;
	float: left;
}
.launch .input-group-addon {
	padding: 0px;
	border: none;
}
.launch input[type="submit"] {
	background-color: rgb( 64, 61, 47 );
	box-shadow: 0.5px 0.5px 1px 0px rgb( 40, 40, 40 );
	border: none;
	width: 120px;
	height: 45px;
	font-size: 16px;
	font-family: 'latoblack';
	color: rgba( 255, 255, 255, 0.769 );
	text-transform: uppercase;
}
.launch .input-group {
	width: 86%;
}
@media (max-width: 1023px) {

	.launch input[type="email"], .launch .input-group {

		width: 100%;
	}
	.countdown-section {
		width: 25%;
	}
	.countdown-amount {
		font-size: 33px;
	}
	.countdown-section {
		font-size: 12px;
	}
}
